.signup {
    .inputForm {
        margin-top: 1.5em;
        input {
            padding-left: 0.7em;
            height: 2.2em;
            width: 22em;
            margin-top: 0.3em;
            margin-bottom: 1.7em;
            font-size: 1em;
        }
        ::placeholder {
            font-style: oblique;
        }
        p {
            font-size: 1.05em;
            font-weight: 400;
        }
    }
}