.signup {
    .inputForm {
        float: left;
        margin-top: 1.5em;
        input {
            padding-left: 0.7em;
            height: 2.2em;
            width: 22em;
            margin-top: 0.3em;
            margin-bottom: 1.7em;
            font-size: 1em;
        }
        ::placeholder {
            font-style: oblique;
        }
        p {
            font-size: 1.05em;
            font-weight: 400;
        }
        .accept {
            background-color: #CDDB28;
            width: 23em;
            height: 2.2em;
            border: 0;
            font-size: 1em;
            color: #fff;
            font-weight: 600;
            margin-bottom: 1.7em;
        }
    }
    .precautions {
        margin-top: 3em;
        width: 40em;
        height: 26em;
        margin-left: 20%;
    }
}